.container {
    display: grid;
    grid-template-areas: 
    "logo"
    "nav"
    "blog"
    "dp"
    "dptext"
    "footsies"
    "foottext"
    "frames"
    "frametext"
    "footer"
    }

.logo {grid-area: logo;}
.nav {grid-area: nav;}
.blog {grid-area: blog;}
.info {grid-area: info;}
.dp {grid-area: dp;}
.footsies {grid-area: footsies;}
.frames {grid area: frames}
.dptext {grid-area: dptext;}
.foottext {grid-area: foottext;}
.frametext {grid-area: frametext;}
.footer {grid-area: footer;}
img {max-width: 100%;}


.logo {
    text-align: center;
    font-family:  'Press Start 2P', cursive;
    font-size: 40px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    width: 80%;
    margin: 0 auto;
}

.blog {
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}

h3 {text-decoration: underline;}

.dptext {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: auto;
   
}

.footsies {
    margin-top: 10px;
  
    
}
.foottext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: auto;
}

.frames {
    margin-top: 20px;
    

}

.frametext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: auto;
}

.footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}

a {color: whitesmoke;}

@media (min-width: 768px) {

    .container {
        display: grid;
        grid-template-areas: 
    "logo logo"
    "nav nav"
    "blog blog"
    "dptext dp"
    "footsies foottext"
    "frametext frames"
    "footer footer"
}

.dptext {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: auto;
   
}

.foottext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: auto;
}

.frametext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: auto;
}

}

@media (min-width: 992px) {

    .container {
        display: grid;
        grid-template-areas: 
    "logo logo logo"
    "nav nav nav"
    "blog blog blog"
    "dptext dptext dp"
    "footsies foottext foottext"
    "frametext frametext frames"
    "footer footer footer"
}

.dptext {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: auto;
   
}

.foottext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: auto;
}

.frametext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: auto;
}



}



    




