.logo {
    text-align: center;
    font-family:  'Press Start 2P', cursive;
    font-size: 40px;
    margin-top: 65px;

}

.nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    width: 80%;
    margin: 0 auto;
    
}
.ken {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.questions {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    
a {color: whitesmoke;
    background-color: black;}




