.container {
    display: grid;
        grid-template-areas:
        "logo"
        "nav"
        "results"
        "gallery"
        "footer";    
}

.logo { grid-area: logo; }
.nav { grid-area: nav ;}
.results { grid-area: results; }
.gallery { grid-area: gallery; }
.footer { grid-area: footer;}

.logo {
    text-align: center;
    font-family:  'Press Start 2P', cursive;
    font-size: 40px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    width: 80%;
    margin: 0 auto;
}

.results {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr;
}

.players {
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

 .footer {
        background-color: black;
        color: whitesmoke;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
 
    a {color: whitesmoke;}

    @media (min-width: 768px) {

        .container {  
            display: grid;
                grid-template-areas:
                "logo logo"
                "nav nav"
                "results results"
                "gallery"
                "footer footer"
        
            }
            #gallery {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            @media (min-width: 992px) {

                .container {  
                    display: grid;
                        grid-template-areas:
                        "logo logo logo"
                        "nav nav nav"
                        "results results results"
                        "gallery"
                        "footer footer footer"
                
                    }
                    #gallery {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                    }