.container {  
display: grid;
/* width: 500px; */
 grid-template-areas:
    "logo"
    "nav"
    "pics"
    "info"
    "titles"
    "footer";
  }
  
  .logo { grid-area: logo; }
  .nav { grid-area: nav; }
  .pics { grid-area: pics; }
  .info { grid-area: info; }
  .titles {grid-area: titles}
  .footer { grid-area: footer; }
  
  
  html, body , {
    height: 100%;
    margin: 0;
  }
.logo {
    text-align: center;
    font-family:  'Press Start 2P', cursive;
    font-size: 40px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
.pics { 
    height: 500px;
    width: 100%;
    background-image: url("./fistbump.jpeg");
    background-size: cover;
    background-position: 77% 55%;
    background-repeat: no-repeat;
    background-attachment: center;
    color: whitesmoke; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 .learn {
    text-align: center;
}
 
.learn > img {
    height: 200px;
    width: 400px;
    margin-top: 25px;
    border: 3px solid black;
}

.learn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    
}

.footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



@media (min-width: 768px) {

    .container {  
        display: grid;
        /* width: 500px; */
         grid-template-areas:
            "logo"
            "nav"
            "pics"
            "info"
            "titles"
            "footer"; 
        }

    .logo {
        text-align: center;
        font-family:  'Press Start 2P', cursive;
        font-size: 40px;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 20px;
        text-decoration: underline;
    }

    .pics {
    background-image: url(fistbump.jpeg);
    background-size: cover;
    height: 750px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 40px;
    color: whitesmoke;
    }

    .learn {
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }

    



    }






}
