/* style="background-image: url(fistbump.jpeg); background-size: cover; background-position: center center; background-repeat: no-repeat; background-attachment: fixed;" */

.container {  
display: grid;
width: 500px;
 grid-template-areas:
    "logo"
    "nav"
    "pics"
    "info"
    "titles"
    "footer";
  }
  
  .logo { grid-area: logo; }
  .nav { grid-area: nav; }
  .pics { grid-area: pics; }
  .info { grid-area: info; }
  .titles {grid-area: titles}
  .footer { grid-area: footer; }
  
  
  html, body , {
    height: 100%;
    margin: 0;
  }



  .info > img {
      height: 200px;
      width: 400px;
  }


.logo {
    text-align: left;
    font-family:  'Press Start 2P', cursive;
    font-size: 20px;
}

.nav {
    flex-wrap: wrap;

    
    font-size: 20px;
    text-decoration: underline;
}
 .pics { 
    height: 500px;
    width: 100%;
    background-image: url("./fistbump.jpeg");
    background-size: cover;
    background-position: 75% 75%;
    background-repeat: no-repeat;
    background-attachment: center;
    color: whitesmoke; 
   
 }

.learn {
    position: absolute;
    top: 59%;
    left: 20%;
    transform: translate( -50%, -50% );
    text-align: left;
}




.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-around;


}





/* @media (min-width: 576px) {

    .logo {
        text-align: center;
        font-family:  'Press Start 2P', cursive;
        font-size: 40px;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 20px;
        text-decoration: underline;
    }

    .pics {
    background-image: url(fistbump.jpeg);
    background-size: contain;
    height: 750px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 40px;
    color: whitesmoke;
    
}
} */
/* .info{ */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
/* } */